process_name=gghh_smehc
process_path=virtual

# PDG codes # Gluon: 21 # Higgs-Boson: 25
in=g,g
out=h,h

#order=QCD,2,4
order=QED,2,2

model=smdiagehc

#renorm_beta=false

#model.options= Nfgen:1
zero=wH

# one quark flavour [t] running in the loops:
qgraf.verbatim=true=iprop[U,D,S,C,B,0,0];
qgraf.options=onshell,nosnail

reduction_programs=ninja

#symmetries=family,generation
#polvec=explicit
#r2=explicit
debug=nlo

# filter.lo removes tree diagrams with two effective couplings as they should not be interfered with the loop disagrams; 
# they are calculated in ggHH_tree_ehc
# filter.lo= lambda d: d.vertices(g,g,H) < 2 

# filter.nlo removes diagrams with gs power higher than gs^4
# filter.nlo= lambda d: (d.vertices(g,g,g,g,H) + d.vertices(g,g,g,H) + d.vertices(g,g,H)) < 2 
