process_name=gghh
process_path=GoSamvirt

# PDG codes # Gluon: 21 # Higgs-Boson: 25
in=g,g
out=h,h

order=QL,NONE,1
#order=QCD,2,4

#model = smdiag
model=FeynRules, models/HEFT6dim_UFO

renorm_beta=false

#model.options= Nfgen:1

zero=mdlWT

# one quark flavour [t] running in the loops:
# qgraf.verbatim=true=chord[part6,part5000000,0,0];

#symmetries=family,generation
reduction_programs=ninja
#polvec=explicit
#r2=explicit
# debug=nlo
# extensions=autotools

# filter.nlo= lambda d: (d.vertices(21,21,21,21,25)  + d.vertices(21,21,21,25) + d.vertices(21,21,25)) < 2
