process_name=gghh
process_path=GoSamLO

# PDG codes # Gluon: 21 # Higgs-Boson: 25
in=g,g
out=h,h

# order=QL,NONE,1
order=QCD,2,2

#model = smdiag
model=FeynRules, models/HEFT6dim_UFO

renorm_beta=false

#model.options= Nfgen:1

zero=mdlWT

# one quark flavour [t] running in the loops:
# qgraf.verbatim=true=chord[part6,part5000000,0,0];
qgraf.options=onshell,nosigma,nosnail

#symmetries=family,generation
reduction_programs=ninja
#polvec=explicit
#r2=explicit
debug=lo
# extensions=autotools

select.nlo=1:2,4:8,10,12:14,17:25
filter.nlo= lambda d: d.chord(part5000000) == 0
# filter.nlo= lambda d: d.chord(part5000000) == 0 and (d.loopvertices(part6,anti6,part5000000)+d.loopvertices(part6,anti6,part5000000,part5000000)) < 2
